<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csm.androidlibrary.lib">

    <application
        android:allowBackup="true"
        android:label="@string/app_namee"
        android:supportsRtl="true">

        <activity android:name=".MPin"></activity>
    </application>

</manifest>